@import "variables"

#about
  .section-title
    color: $accent-darker-blue
  .about_me
    font-size: 20px
    margin-top: 15px
    .title
      display: block
      color: $accent-darker-blue
    .icon
      display: inline-block
      height: 150px
    .text
      font-size: 14px
  .highlight_me
    color: $accent-red
    margin: 20px
#arrow-about
  margin-bottom: 20px
  animation: moving_arrows 1.5s ease infinite
  top: 0px
  +triangle-1($accent-red)
  .background-arrow
    +triangle-2(#FFF)
