@import 'variables'

#greet
  background:
    image: url('../images/headshot_3.jpg')
    size: 160%
    repeat: no-repeat
    position: 140px -400px
.main_greet
  color:  $accent-darker-blue
  font-family: Bungee Shade
  margin: 0px 0em
  padding: 60px
  height: 660px
  width: 100%
  .greet_1
    font-size: 2.500em
    position: relative
    top: 30%
    left: 25%
    .greet_2
      margin: 20px 0px
      font-family: Ubuntu
      font-size: 20px
      position: absolute
      // -ms-transform-origin: 0 0
      // -webkit-transform-origin: 0 0
      // transform: rotateZ(20deg)
