@import 'variables.sass'

#portfolio
  height: auto
  width: 100%
  background-color: $portfolio-purple

.project
  padding: 60px 20px 0px 20px
  box-sizing: border-box
  .preview
    box-sizing: border-box
    display: inline-block
    max-height: 500px
    transition: all .7s ease-in-out
    @media screen and (min-width: $breakpoint-mobile)
      margin: 0px
    img
      box-sizing: content-box
      position: relative
      max-width: 100%
      max-height: 500px
.links-for-mobile
  padding: 20px 0px
  a
    transition: all .7s ease
    color: $accent-orange
    &:hover
      color: $light-green
      text-decoration: none

.details
  position: relative
  display: inline-block

  .overview-wrapper
    .project-overview
      padding: 20px 0px
      color: $dark-green
      text-align: center
      max-width: 100%
      max-height: 500px
      transition: all .7s ease
      background-color: $accent-orange
      .project-name
        font-size: 25px
      .project-links
        padding: 3px 30px
        text-decoration: none
        transition: all .7s ease
        &:link
          color: $dark-green
        &:visited
          color: $dark-green
        &:hover
          color: $light-green
      .languages
        .lang
          padding: 5px 0px
      hr
        border: 1px solid $accent-orange
        height: 1px
        background: linear-gradient(to right, $accent-orange, $light-green, $accent-orange)
  .challenges-wrapper
    display: inline-block
    .challenges
      max-height: 250px
      padding: 0px 20px
      box-sizing: border-box
      display: inline-block
      color: $light-green
      overflow: scroll


#project1
  .details
    .code-snippet-wrapper
      .code-snippet
        transition: all 5s ease-in-out
        background:
          image: url('../images/dc_roaster_snippet.png')
          size: auto 220%
    &:hover .code-snippet
      background:
        position: center bottom
    .challenges-wrapper
      display: inline-block
      .challenges
        display: inline-block
#project2
  .preview
    img
      max-width: 100%
  .details
    .code-snippet-wrapper
      .code-snippet
        transition: all 5s ease-in-out
        background:
          image: url('../images/zombiez_snippet.png')
          size: auto 220%
    &:hover .code-snippet
      background:
        position: center bottom
    .challenges-wrapper
      display: inline-block
      .challenges
        display: inline-block

#project3
  .preview
    img
      max-width: 100%
      box-sizing: border-box
  .details
    .code-snippet-wrapper
      .code-snippet
        transition: all 5s ease-in-out
        background:
          image: url('../images/political_snippet.png')
          size: auto 220%
    &:hover .code-snippet
      background:
        position: center bottom
    .challenges-wrapper
      display: inline-block
      .challenges
        display: inline-block
#project4
  .preview
    img
      max-width: 100%
      box-sizing: border-box
  .details
    .code-snippet-wrapper
      .code-snippet
        transition: all 5s ease-in-out
        background:
          image: url('../images/blackjack_snippet.png')
          size: auto 220%
    &:hover .code-snippet
      background:
        position: center bottom
    .challenges-wrapper
      display: inline-block
      .challenges
        display: inline-block
#arrow-portfolio
  margin-top: 20px
  margin-bottom: 20px
  animation: moving_arrows 1.5s ease infinite
  .background-arrow
    +triangle-2($portfolio-purple)
