//importing all my stylesheets
@import 'menu'
@import 'greet'

// reusable classes
.section
  margin-top:  3.750em
.section-title
  font-family: Bungee Shade
  color:  #9DC462
  font-size:  1.875em
  text-align: center
.circle
  border-radius:  50%
  width: 10.938em
  height:  10.938em
  background-color: pink
  display: inline-block
.selection
  font-family: Ubuntu
  font-size: 1em
  text-align: center
  position: relative
  ul
    padding: 0
    margin: 0
    margin-top: 1.875em
  li
    margin: 0.125em
    padding: 0.938em 1.563em
    display: inline-block
    list-style: none
.left-two, .left-one, .right-two, .right-one
  margin: 2%
a
  text-decoration: none
//do not nest this into the menu, gives "phantom coloring"

body
  background-color: #226666
  font-family: Ubuntu
  margin:  0
  padding: 0
  #portfolio
    padding: 3.750em 0em
    height: auto
    width: 100%
    background-color: #3C3176
