.arrow {
  background-color: transparent;
  position: absolute;
  top: 3.625em;
  left: 40%;
  border-top: 0.625em solid #003333;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-bottom: 0.625em solid transparent;
  transform: translateY(-0.625em);
  transition: all 0.7s ease; }

.arrow_drop {
  border-top: 0.625em solid #9DC462;
  transform: translateY(0em); }

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #003333;
  height: auto;
  width: 100%;
  z-index: 10; }
  .nav-bar .brand {
    position: absolute;
    top: 0;
    left: 1.25em; }
  .nav-bar #name {
    float: left; }
  .nav-bar #ribbon-body {
    position: relative;
    top: -6.43em;
    left: 6.25em;
    height: 50%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 6.25em 1.25em 0.063em 1.25em;
    margin: 1.875em 0.625em 0.625em -4.375em;
    color: #9DC462;
    background-color: #739D34;
    text-shadow: 0em 0.063em 0.125em #57565F;
    border: 0.063em solid #4F7514; }
    .nav-bar #ribbon-body span {
      position: relative;
      top: -1em; }
    .nav-bar #ribbon-body:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 100%;
      top: 92.5%;
      border-width: 0.313em 0.5em;
      border-style: solid;
      border-color: #4F7514 transparent transparent #4F7514; }
    .nav-bar #ribbon-body:before {
      content: " ";
      z-index: -1;
      position: absolute;
      width: 0em;
      height: 0.625em;
      left: 0.938em;
      top: 93%;
      border-width: 0.938em 4.245em;
      border-style: solid;
      border-color: #739D34 #739D34 transparent #739D34; }
  .nav-bar #menu {
    float: right; }
    .nav-bar #menu ul {
      margin: 0; }
      .nav-bar #menu ul li {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style: none; }
        .nav-bar #menu ul li .menu_option {
          color: #9DC462;
          margin: 0 -0.125em;
          padding: 1.25em 1.875em;
          transition: all 0.7s ease;
          position: relative; }
          .nav-bar #menu ul li .menu_option:hover {
            background-color: #9DC462;
            color: #5B634F; }

.main_greet {
  color: #9DC462;
  font-family: Bungee Shade;
  margin: 3.75em 0em;
  padding: 0;
  height: 37.5em;
  width: 100%; }
  .main_greet .greet_1 {
    font-size: 2.5em;
    position: relative;
    top: 30%;
    left: 25%; }
    .main_greet .greet_1 .greet_2 {
      font-family: Ubuntu;
      font-size: 16px;
      position: absolute;
      -ms-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform: rotateZ(20deg); }

.section {
  margin-top: 3.75em; }

.section-title {
  font-family: Bungee Shade;
  color: #9DC462;
  font-size: 1.875em;
  text-align: center; }

.circle {
  border-radius: 50%;
  width: 10.938em;
  height: 10.938em;
  background-color: pink;
  display: inline-block; }

.selection {
  font-family: Ubuntu;
  font-size: 1em;
  text-align: center;
  position: relative; }
  .selection ul {
    padding: 0;
    margin: 0;
    margin-top: 1.875em; }
  .selection li {
    margin: 0.125em;
    padding: 0.938em 1.563em;
    display: inline-block;
    list-style: none; }

.left-two, .left-one, .right-two, .right-one {
  margin: 2%; }

a {
  text-decoration: none; }

body {
  background-color: #226666;
  font-family: Ubuntu;
  margin: 0;
  padding: 0; }
  body #portfolio {
    padding: 3.75em 0em;
    height: auto;
    width: 100%;
    background-color: #3C3176; }
