body{
	background-color: #dadada;
	/* font-family: Quicksand; */
	font-family: Ubuntu;
}
@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg) rotateY(0deg);
	}

	100% {
		transform: rotateZ(360deg) rotateY(360deg);
	}
}
p.customfont { 
    font-family: "My Custom Font", Verdana, Tahoma;
}
.header{
	position: fixed;
	top: 0;
	height: 70px;
	width: 100%;
}
a{
	text-decoration: none;
	color: inherit;
}


.brand{
	font-size: 150%;
}

.top-info{
	display: block;
	position: absolute;
	top: -20%;
	left: 225%;
	width: 150px;
	text-align: center;
}

.stronger{
	font-weight: bold;
	font-size: 120%;
}

.nav-bar{
	position: relative;
	background-color: black;
	height: 60px;
	overflow: hidden;
}

.left-side{
	top: 25%;
	left: 2%;
	position: absolute;
}

.right-side{
	top: 35%;
	right: 2%;
	position: absolute;
	opacity: 0;
	transition: all .3s linear;
}

.right-side li{
	display: inline-block;
}

.right-nav{
	width: 200px;
}

.left-kick{
	margin-left: 3%;
}

.greet{
	display: block;
	text-align: center;
	margin: 15% 15% 5% 15%;
	transition: all 2s ease-in-out;

}

.name{
	transition: all 0.5s ease-in-out;
}

.text-grow{
	font-size: 150%;
}


#title{
	font-size: 700%;
	margin-bottom: 5%;
	transition: all 1s ease-in-out;
}

#title .leaf{
	animation: spin 4s 2 ease-in-out alternate-reverse forwards;
}

.leaf{
	height: 20px;
	width: 20px;
	border-radius: 5% 75%;
	display: inline-block;
	opacity: 1;
	transition: all .5s ease-in-out;
}

div.sidebar{
	text-align: right;
	margin: 60px 15px;
}

.element{
	margin: 10px 20px;
}

span.menu{
	height: 20px;
	margin-top: 10px;
	margin-right: 40px;
	transition: all .5s ease-in-out;
}

span.menu >{
	transition: all .5s ease-in-out;
}

div.bar{
	display: inline-block;
	height: 2px;
	width: 20px;
	background-color: black;
	margin: 0px 0px 4px 0px;
	transition: all .5s ease-in-out;
}

.about{
	padding-right: 22px;
}



.contact{
	padding-right: 3px;
}

.stretching{
	padding-left: 40px; 
	transition: all .2s ease-in-out;
}
.glow{
	background-color: #03bcbc !important;
	transition: all .5s ease-in-out;

}

.glow-text{
	color:  #03bcbc;
	transition: all .2s ease-in-out;
}

.rotate{
	transform: rotateY(45deg);
}

.super-spacer{
	height: 6000px;
}