// My color variables

// $light-green: #9DC462
// $portfolio-purple: #3C3176
// $middle-green: #739D34
// $dark-green: #003333
// $pastel-dark-green: #5B634F
// $blue-green-base: #226666

$light-green: #E0E0E0
$portfolio-purple: #424242
$middle-green: #848484
$dark-green: #111111
$pastel-dark-green: #6A6A6A
$blue-green-base: #8D8D8D
$accent-blue: #00A6C3
$accent-darker-blue: #0086BC
$accent-yellow: #F3D7A2
$accent-orange: #F88909
$accent-red: #EE242F
$accent-purple: #89378A



@keyframes moving_arrows_body
  0%
    top: 515px
  100%
    top: 530px
@keyframes moving_arrows
  0%
    transform: translateY(0px)
  100%
    transform: translateY(15px)
