doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    title JT Townsend
    script(src="https://use.fontawesome.com/60d310a586.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bungee+Shade" )
    link(rel="stylesheet", href="css/styles.css")
  body#home
    nav.navbar.jt-nav.navbar-fixed-top
      .container-fluid
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#jt-nav-collapse", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.brand#name(href="#home") JT Townsend

        //- Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse#jt-nav-collapse
          ul.nav.navbar-nav.navbar-right#menu
            li
              a.menu_option(href="#portfolio") Portfolio
                .hidden-xs.arrow
            li
              a.menu_option(href="#about") About
                .hidden-xs.arrow
            li
              a.menu_option(href="#contact") Contact
                .hidden-xs.arrow
            li
              a.menu_option(href="images/JT_Townsend_Sept 2016.pdf") Resume
                .hidden-xs.arrow
    .container-fluid
      .row
        .col-xs-12.col-md-12.main_greet#greet
          .row
            .col-xs-12.text-center.greet_1
              span Hello, I'm JT
              .greet_2 A Web Developer and Interactive Artist
          .row
            a.col-sm-12.hidden-xs(href="#portfolio")
              .next-section-arrow#greet_arrow
                .background-arrow
      .row
        .col-xs-12#portfolio
          .row
            .col-xs-12.text-center.section-title Portfolio
          .row.selection
            .col-xs-12.project#project1
              .row
                .col-xs-12.col-lg-7.col-md-12.preview
                  img(src='images/space_balls.png')
                .col-xs-12.hidden-sm.hidden-md.hidden-lg.links-for-mobile
                  .col-xs-12.text-center
                    a(href='/space_balls') Live Demo
                    .col-xs-12.text-center For the best experience, check this out on your desktop
                .col-lg-4.col-lg-offset-1.col-md-12.details
                    .col-xs-12.overview-wrapper
                      .col-xs-12.project-overview 
                        .project-name Space Balls
                        a.col-sm-6.hidden-xs.project-links(href="/space_balls") Live Demo
                        a.col-sm-6.col-xs-12.project-links(href="https://github.com/PirieD704/final_project") Github Repo
                        hr
                        .languages
                          .row
                            .lang.col-sm-12.text-center A capture the flag-style multiplayer game we made as a group utilizing our MEAN-stack web development skills, Phaser.io, and Socket.io in an agile environment in two weeks' time.
                    .col-xs-12.challenges-wrapper
                      .col-xs-12.challenges
                        h3 Space Balls Challenge
                        .text 
                          | When needing sockets to listen in Angular Routes, a custom factory is the best option.
                          | Creating the custom factory,
                          code socket
                          | allows us to utilize socket.io within our routes, updating global variables for the game in each of it's states.
            .col-xs-12.project#project2
              .row
                .col-md-12.col-lg-7.preview
                  img(src='images/janus.png')
                .col-xs-12.hidden-sm.hidden-md.hidden-lg.links-for-mobile
                  .col-xs-12.text-center
                    a(href='https://janus.jt-townsend.com') Live Demo
                  .col-xs-12.text-center Check it out on your mobile device!
                .col-md-12.col-lg-4.col-lg-offset-1.details
                  .col-xs-12.overview-wrapper
                    .col-xs-12.project-overview
                      .project-name JANUS
                      a.col-sm-6.hidden-xs.project-links(href="https://janus.jt-townsend.com") Live Demo
                      a.col-sm-6.col-xs-12.project-links(href="https://github.com/paigen11/back-end") Github Repo
                      hr
                      .languages
                        .row
                          .lang.col-sm-12.text-center An organization app built with Angular's Routes, Bootstrap, Masonry JS library, Python, Flask, and MySQL to let users create, store, and organize notes in a very engaging way; similar to Google Keep.
                    .col-xs-12.challenges-wrapper
                      .col-xs-12.challenges
                        .row
                          h3.col-xs-12 JANUS Challenge
                          .col-xs-12.text 
                            | Our stack has two ways to render page views. Front end with Angular's ngRoutes using 
                            code /views
                            |  to render views and back end with Flask using templates to render views with its 
                            code render_templates
                            |  module. We are going with using Angular to serve up pages, 
                            | and in order to send data forward to Angular we need from the MySQL database, we use Flask's 
                            code send_file() 
                            |  function to push it forward. 
            .col-xs-12.project#project3
              .row
                .col-xs-12.col-lg-7.col-md-12.preview
                  img(src='images/DC_Roasters.png')
                .col-xs-12.hidden-sm.hidden-md.hidden-lg.links-for-mobile
                  .col-xs-12.text-center
                    a(href='/coffeeSite') Live Demo
                    col-xs-12.text-center Check it out on your mobile device!
                .col-lg-4.col-lg-offset-1.col-md-12.details
                    .col-xs-12.overview-wrapper
                      .col-xs-12.project-overview 
                        .project-name DC Roasters
                        a.col-sm-6.hidden-xs.project-links(href="/coffeeSite") Live Demo
                        a.col-sm-6.col-xs-12.project-links(href="https://github.com/jttwnsnd/NodeEcommerce") Github Repo
                        hr
                        .languages
                          .row
                            .lang.col-sm-12.text-center An Ecommerce SPA built with Angular Routes and Cookies, Mongoose, MongoDB, Express, Node.js, a customized API, compiled Jade for the HTML and Sass for the CSS, and uses Stripe for a credit card transaction.
                    .col-xs-12.challenges-wrapper
                      .col-xs-12.challenges
                        h3 DC Roasters Challenge
                        .text 
                          | Getting and transferring all the information I need to display across my 
                          | views is a big challenge in this project. My solution is to set the entire 
                          | data to an Angular object 
                          code $scope.userInfo
                          |  inside of my 
                          code function checkToken()
                          |  that is invoked every time the view is changed.
            .col-xs-12.project#project4
              .row
                .col-md-12.col-lg-7.preview
                  img(src='images/zombiez.png')
                .col-xs-12.hidden-sm.hidden-md.hidden-lg.links-for-mobile
                  .col-xs-12.text-center
                    a(href='/zombiez') Live Demo
                  .col-xs-12.text-center For best experience, view on a desktop*
                .col-md-12.col-lg-4.col-lg-offset-1.details
                  .col-xs-12.overview-wrapper
                    .col-xs-12.project-overview
                      .project-name Zombiez
                      a.col-sm-6.hidden-xs.project-links(href="/zombiez") Live Demo
                      a.col-sm-6.col-xs-12.project-links(href="https://github.com/paigen11/frontend-project") Github Repo
                      hr
                      .languages
                        .row
                          .lang.col-sm-12.text-center An interactive map game that makes strong use of Javascript, HTML, CSS, and jQuery along with utilizing the Leaflet API’s marker features and functionalities for a canvas-style game. Objective: Protect the city of Atlanta from the zombie infestation!
                    .col-xs-12.challenges-wrapper
                      .col-xs-12.challenges
                        .row
                          h3.col-xs-12 Zombiez Challenge
                          .col-xs-12.text 
                            | One challenge that I faced was a menu option failing with jQuery’s abilities to 
                            | add CSS classes through 
                            code toggleClass()
                            |  and 
                            code addClass()
                            | . After testing each option meticulously, I noticed the issue hiding in the
                            code setTimeout()
                            |  for the option and gave consistency to the menu option by using
                            code addClass()
                            |  , preventing the inconsistency for the option.
          .row
            a.col-sm-12.hidden-xs(href="#about")
              .next-section-arrow#arrow-portfolio
                .background-arrow
          .row
            .col-sm-12.hidden-xs.arrow-buffer
      .row
        .col-xs-12#about
          .row.section-title
            .col-xs-12.text-center About
          .row.selection
            .col-xs-12.about_me
              .row
                .col-xs-12.title In addition to being a developer, I am a
                  .row
                    .col-xs-6.col-sm-4.icon 
                      img(src="images/processor.png")#tech
                      .text Video Game and Tech Lover
                    .col-xs-6.col-sm-4.icon 
                      img(src="images/book.png")#learn
                      .text Constant & Hungry Learner
                    .col-xs-6.col-sm-4.icon.hema 
                      img(src="images/helmet.png")#hema
                      .text Historical European Martial Arts Practicioner
                    .col-xs-6.col-xs-offset-0.col-sm-4.col-sm-offset-4.icon
                      img(src="images/sunglasses.png")#geek
                      .text  Bit Geeky All Around
                  .highlight_me I am always doing something different and fun; whether it be playing a table-top games, swinging swords with my buddies, DIY projects, or taking an educational course.
          .row
            a.col-sm-12.hidden-xs(href="#contact")
              .next-section-arrow#arrow-about
                .background-arrow
          .row
            .col-sm-12.hidden-xs.arrow-buffer
      .row
        .col-xs-12#contact
          .section-title
            .contact Contact
            .selection
              .photo(src-"../images/headshot_1.jpg")
              .contact Have a question? Want to get in touch?
              ul
                li
                  a(href="http://www.twitter.com/dev_jt")
                    i.fa.fa-twitter.fa-3
                li
                  a(href="http://www.github.com/jttwnsnd") 
                    i.fa.fa-github.fa-3
                li
                  a(href="https://www.linkedin.com/in/jt-townsend-52408074") 
                    i.fa.fa-linkedin.fa-3
              .send-message Send me a message:
              .email jt.a.townsend@gmail.com
          //- form(action-"mail.php", method="mail()")
          //-   .grouping
          //-     .input-group
          //-       .name-group
          //-         label Full Name
          //-         br
          //-         input(type="text", name="fullName")
          //-       .email-group
          //-         label Email
          //-         br
          //-         input(type="email", name="email")
          //-     .message-group
          //-       label Message
          //-       textarea(name="body")
          //-       button.send-message(type="submit") Send Message
    footer.jt-footer
      .text-center
        .foot-text JT Townsend | All Rights Reserved

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(type="text/javascript", src="js/scripts.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85608091-1', 'auto');
      ga('send', 'pageview');
