doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1")
    title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bungee+Shade" )
    link(rel="stylesheet", href="css/styles.css")
  body#home
    .nav-bar
      div
        .brand#name
          #ribbon
            #ribbon-body
              span JT Townsend
      #menu
        ul
          li
            a(href="#home")
              .menu_option Home
                .arrow
          li
            a(href="#portfolio")
              .menu_option Portfolio
                .arrow
          li
            a(href="#about")
              .menu_option About
                .arrow
          li
            a(href="#contact")
              .menu_option Contact
                .arrow
    .main_greet
      .greet_1
        span Hello, I'm JT
        .greet_2 A Web Developer and Interactive Artist
      a(href="#portfolio")
        .next-section-arrow#greet_arrow
          .background-arrow
    #portfolio
      .section-title
        span Portfolio
        .selection
          .project#project1
            .preview
              .project-overview 
                .project-name DC Roasters
                a.project-links(href="www.jt-townsend.com/coffeeSite") Live Demo
                a.project-links(href="https://github.com/jttwnsnd/NodeEcommerce") Github Repository
                hr
                .languages
                  ul
                    li Jade/HTML
                    li Sass/Bootstrap/CSS
                    li Javascript
                    li jQuery
                    li Angular
                    li Mongoose/MongoDB
                    li Express.js
                    li Node.js
            .details
              .code-snippet
              .challenges
          .project#project2
            .preview
              .project-overview
                .project-name Zombiez
                a.project-links(href="www.jt-townsend.com/zombiez") Live Demo
                a.project-links(href="https://github.com/paigen11/frontend-project") Github Repository
                hr
                .languages
                  ul
                    li HTML
                    li CSS
                    li Javascript
                    li jQuery
                    li Leaflet.js
                    li Mapbox.js
            .details
              .code-snippet
              .challenges
          .project#project3
            .preview
              .project-overview
                .project-name Political Tweets
                a.project-links(href="www.jt-townsend.com/angularTweets") Live Demo
                a.project-links(href="https://github.com/jttwnsnd/agnular-tweets") Github Repository
                hr
                .languages
                  ul
                    li HTML
                    li Bootstrap/Angular Materials/CSS
                    li Javascript
                    li jQuery
                    li Angular/Angular Routes
                    li Twitter API
            .details
              .code-snippet
              .challenges
          .project#project4
            .preview
              .project-overview
                .project-name Blackjack
                a.project-links(href="www.jt-townsend.com/blackjack") Live Demo
                a.project-links(href="https://github.com/jttwnsnd/blackjack") Github Repository
                hr
                .languages
                  ul
                    li HTML
                    li Bootstrap/CSS
                    li Javascript
                    li jQuery
            .details
              .code-snippet
              .challenges
      a(href="#about")
        .next-section-arrow#arrow-portfolio
          div.background-arrow
    #about
      .section-title
        span About
        .selection
          div.about_me Being honest... I am a
            ul
              li.icon 
                img(src="images/processor.png")#tech
                .text Video Game and Tech Lover
              li.icon 
                img(src="images/book.png")#learn
                .text Constant & Hungry Learner
              li.icon 
                img(src="images/helmet.png")#hema
                .text Historical European Martial Arts Practicioner
              li.icon
                img(src="images/sunglasses.png")#geek
                .text Just A Bit Geeky All Around
          div I am always doing something weird and fun. Be it playing a fantasy game, swinging swords with my buddies, DIY projects, or backpacking
          
    #contact
      .section-title
        span Contact
        .selection
          div here is my contact info
          //- this is my email form
          form(action-"mail.php", method="mail()")
            input(type="text", name="fullName")
            input(type="email", name="email")
            textarea(name="body")

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(type="text/javascript", src="js/scripts.js")
