doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1")
    title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bungee+Shade" )
    link(rel="stylesheet", href="css/styles.css")
  body
    nav
      ul
        li Portfolio
        li About
        li Contact
        
    #greet
      #greet_1 Hello, I'm JT
        #greet_2 A Full Stack Web Developer
    #move-down
      div ---------this is going to be an icon that will progress the page to the next area when clicked. and adds for directoin for viewers
    #portfolio
      span Portfolio
      div This is where I get to show off a little
      .project-img This will be a screen shot of zombiez
      .projet-about 
        div this is where content will go about it. Adding little tags about the languages/frameworks used
      .project-img This will be a screen shot of the chatroom
      .projet-about 
        div this is where content will go about it. Adding little tags about the languages/frameworks used
      .project-img This will be a screen shot of the Political Tweets
      .projet-about 
        div this is where content will go about it. Adding little tags about the languages/frameworks used
      .project-img This will be a screen shot of the Blackjack
      .projet-about 
        div this is where content will go about it. Adding little tags about the languages/frameworks used
      #move-down
        div ---------this is going to be an icon that will progress the page to the next area when clicked. and adds for directoin for viewers
    #about
      span About
      div Being honest... I am a
        ul
          li tech lover
          li learner
          li Historical European Martial Arts Practicioner
          li a bit geeky
      div I am always doing something weird and fun. Be it playing a fantasy video game, swinging swords with my buddies, or backpacking
    #move-down
      div ---------this is going to be an icon that will progress the page to the next area when clicked. and adds for directoin for viewers
    #contact
      #profile-card
        .avatar let's definitely have an image here so they can see my face
          img
        .contact-box
          ul
            li email
            li twitter
            li cell
            li github
      #email-form
        div thi is where they can send me an email through this page, if they desire
        
